.form-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: white;
	font-family: "Nunito-Bold", sans-serif;
  }
  